@page
@using AspNetCore.ReCaptcha
@using ChessBurgas64.Common
@using ChessBurgas64.Data.Models.Enums
@model Register
@{
    ViewData["Title"] = GlobalConstants.RegistrationLabel;
}

<h1 class="text-center text-white display-5">@GlobalConstants.RegistrationLabel</h1>
<hr class="text-white border border-5 border-white" />
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="text-white">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-xl-4 mt-5">
                <div class="form-group my-3">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="Input.MiddleName"></label>
                    <input asp-for="Input.MiddleName" class="form-control" />
                    <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="Input.BirthDate"></label>
                    <input asp-for="Input.BirthDate" class="form-control" />
                    <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                </div>
                @Html.DisplayNameFor(m => m.Input.Gender):
                <div class="form-check form-check-inline m-3">
                    <input class="form-check-input" type="radio" asp-for="Input.Gender" id="inlineRadio1" value="@Gender.Женски.ToString()">
                    <label class="form-check-label" asp-for="Input.Gender">@Gender.Женски.ToString()</label>
                </div>
                <div class="form-check form-check-inline m-3">
                    <input class="form-check-input" type="radio" asp-for="Input.Gender" id="inlineRadio1" value="@Gender.Мъжки.ToString()">
                    <label class="form-check-label" asp-for="Input.Gender">@Gender.Мъжки.ToString()</label>
                </div>
                <div class="my-1">
                    <span asp-validation-for="Input.Gender" class="text-danger"></span>
                </div>
            </div>
            <div class="col-xl-4 mt-4">
                <img class="rounded mx-auto d-block mb-5" src="~/images/homePage/burgas64-logo.png" style="height: auto; width: 100%;" alt="" />
            </div>
            <div class="col-xl-4 mt-5">
                <div class="form-group my-3">
                    <label asp-for="Input.PhoneNumber"></label>

                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row text-white text-center">
            <h2 class="text-white">@GlobalConstants.ClubStatus</h2>
            <hr/>
            <div class="background-dragon-red border border-3 border-white py-2">
                <p>
                    @GlobalConstants.ClubStatusInfo
                </p>
            </div>

            <div class="container-fluid mt-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="@Model.Input.ClubStatus" value="@GlobalConstants.PendingApproval">
                    <label class="form-check-label" asp-for="@Model.Input.ClubStatus">@GlobalConstants.PendingApproval</label>
                </div>
                <div class="mb-3">
                    @GlobalConstants.PendingApprovalInfo
                </div>
                <hr />
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="@Model.Input.ClubStatus" value="@GlobalConstants.StudentStatus">
                    <label class="form-check-label" asp-for="@Model.Input.ClubStatus">@GlobalConstants.StudentStatus</label>
                </div>
                <div class="mb-3">
                    @GlobalConstants.StudentStatusInfo
                </div>
                <hr />

                <div class="form-check form-check-inline">
                    <input class="form-check-input disabled" type="radio" asp-for="@Model.Input.ClubStatus" value="@GlobalConstants.CompetitorStatus" disabled>
                    <label class="form-check-label" asp-for="@Model.Input.ClubStatus">@GlobalConstants.CompetitorStatus</label>
                </div>
                <div class="mb-3">
                    @GlobalConstants.CompetitorStatusInfo
                </div>
                <hr />

                <div class="form-check form-check-inline">
                    <input class="form-check-input disabled" type="radio" asp-for="@Model.Input.ClubStatus" value="@GlobalConstants.ChampionStatus" disabled>
                    <label class="form-check-label" asp-for="@Model.Input.ClubStatus">@GlobalConstants.ChampionStatus</label>
                </div>
                <div class="mb-3">
                    @GlobalConstants.ChampionStatusInfo
                </div>
                <hr />
                <div class="my-1">
                    <span asp-validation-for="Input.ClubStatus" class="text-danger"></span>
                </div>
                <div class="form-group offset-4">
                    <div class="mx-4 my-5">
                        <recaptcha></recaptcha>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary border border-dark">@GlobalConstants.RegistrationLabel</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://www.google.com/recaptcha/api.js?hl=bg" async defer></script>
    <script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
}
