@model ChessBurgas64.Web.ViewModels.Announcements.AnnouncementsListViewModel
@{
    this.ViewData["Title"] = "НОВИНИ";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />
<div class="row">
    @foreach(var announcement in this.Model.Announcements)
    {
        <div class="card" style="width: 18rem;">
            <img src="@announcement.ImageUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@announcement.Title </h5>
                <p class="card-text">@announcement.Date</p>
                <a href="#" class="btn btn-primary">Прочети</a>
            </div>
        </div>
    }
</div>
<hr />
<nav aria-label="..."> 
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPreviousPage) {<text>disabled</text>} ">
            <a class="page-link" asp-action="All" asp-route-id="@Model.PreviousPageNumber">Предишна</a>
        </li>
        @if (Model.PageNumber - 1 > 0)
        {
            <li class="page-item"><a class="page-link" asp-action="All" asp-route-id="@(Model.PageNumber - 1)">@(Model.PageNumber - 1)</a></li>
        }
        <li class="page-item active" aria-current="page">
            <a class="page-link" asp-action="All" asp-route-id="@Model.PageNumber">@Model.PageNumber</a>
        </li>
        @if (Model.PageNumber + 1 <= Model.PagesCount)
        {
            <li class="page-item"><a class="page-link" asp-action="All" asp-route-id="@(Model.PageNumber + 1)">@(Model.PageNumber + 1)</a></li>
        }
        <li class="page-item @if (!Model.HasPreviousPage) {<text>disabled</text>} ">
            <a class="page-link" asp-action="All" asp-route-id="@Model.NextPageNumber">Следваща</a>
        </li>
    </ul>
</nav>


