@model ChessBurgas64.Web.ViewModels.Announcements.AnnouncementInputModel
@using ChessBurgas64.Common
@{
    ViewData["Title"] = "Обновяване на новина";
}

<link href="~/lib/Trumbowyg-main/dist/ui/trumbowyg.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/Trumbowyg-main/dist/plugins/colors/ui/trumbowyg.colors.min.css">

<h1 class="display-5 text-white text-center animated slideInDown">@this.ViewData["Title"]</h1>

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group mb-3">
        <label class="text-white" asp-for="Title">@GlobalConstants.Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label class="text-white" asp-for="Date">@GlobalConstants.Date</label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <vc:categories title="CategoryId"></vc:categories>
    <div class="form-group mb-3">
        <label class="text-white" asp-for="Text">@GlobalConstants.Text</label>
        <textarea id="editor" asp-for="Text" class="form-control"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <button type="submit" class="btn-primary" data-toggle="modal" data-target="#modalEdit">@GlobalConstants.Refresh</button>
</form>

<!-- Modal -->
<div class="modal" id="modalEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@GlobalConstants.Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="@GlobalConstants.Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    @GlobalConstants.DoYouWantToSaveChanges
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@GlobalConstants.Close</button>
                <button type="button" class="btn btn-primary" onclick="editForm.submit()">@GlobalConstants.Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/Trumbowyg-main/dist/trumbowyg.min.js"></script>
    <script src="~/lib/Trumbowyg-main/dist/plugins/colors/trumbowyg.colors.min.js"></script>
    <script src="~/lib/Trumbowyg-main/dist/plugins/fontfamily/trumbowyg.fontfamily.min.js"></script>
    <script src="~/lib/Trumbowyg-main/dist/plugins/fontsize/trumbowyg.fontsize.min.js"></script>
    <script src="~/js/textEditorButtons.js"></script>
}