@model ChessBurgas64.Web.ViewModels.Announcements.AnnouncementsListViewModel
@using ChessBurgas64.Common 

@foreach (var announcement in this.Model.Announcements)
 {
    <div class="card-deck col-md-4 wow fadeInUp" data-wow-delay="0.1s">
        <div class="card border border-white border-5">
            <div class="bg-dark text-center">
                <img class="image-announcement-card img-fluid my-1" src="@announcement.MainImageUrl" alt="">
            </div>
            <div class="card-body text-center">
                <h6 class="announcement-card-title text">@announcement.Title</h6>
                <small>@announcement.Date.ToShortDateString()</small>
                <hr />
                <div class="announcement-card-text"><small>@announcement.Description</small></div>
            </div>
            <a class="btn btn-primary" asp-action="ById" asp-route-id="@announcement.Id">@GlobalConstants.View</a>
        </div>
    </div>
 }