@model ChessBurgas64.Web.ViewModels.Announcements.AnnouncementsListViewModel
@using ChessBurgas64.Common 

@for (int i = 0; i < this.Model.Announcements.Count; i++)
{
    var announcements = this.Model.Announcements.ToArray();

    <div class="card-deck text-white col-md-4 wow fadeInUp" data-wow-delay="0.1s">
        <div class="card bg-transparent">
            <img class="image-announcement-card img-fluid border border-dark border-5 my-1 rounded-3" src="@announcements[i].MainImageUrl" alt="">
            <div class="card-body text-center">
                <h6 class="announcement-card-title text title-container rounded-pill border-bottom border-white px-2 py-2 mb-2">@announcements[i].Title</h6>
                <small>@announcements[i].Date.ToShortDateString()</small>
                <hr />
                <div class="announcement-card-text text-white-50 bg-dark text-justify"><small>@announcements[i].Description</small></div>
            </div>
            <a class="btn btn-primary" asp-action="ById" asp-route-id="@announcements[i].Id">@GlobalConstants.View</a>
        </div>
    </div>

    @if ((i + 1) % GlobalConstants.AnnouncementsInRow == 0)
    {
        <hr class="wow fadeInUp my-5 text-white" data-wow-delay="0.1s"/>
    }
}