@using ChessBurgas64.Common
@using ChessBurgas64.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
   @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item dropdown">
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <a class="btn btn-primary nav-link dropdown-toggle text-white" id="nav-dropdown" data-bs-toggle="dropdown" aria-expanded="false">@GlobalConstants.AdministratorRoleName</a>
                <ul class="dropdown-menu background-dragon-red border text-center">
                    <li><a class="btn btn-primary dropdown-item text-white" asp-area="" asp-controller="Users" asp-action="ShowUsers">@GlobalConstants.RegisteredUsers</a></li>
                    <li><a class="btn btn-primary dropdown-item text-white" asp-area="" asp-controller="Groups" asp-action="ShowGroups">@GlobalConstants.GroupsNav</a></li>
                    <li><a class="btn btn-primary dropdown-item text-white" asp-area="" asp-controller="Lessons" asp-action="ShowLessons">@GlobalConstants.ConductedLessons</a></li>
                    <li><a class="btn btn-primary dropdown-item text-white" asp-area="" asp-controller="Puzzles" asp-action="All">@GlobalConstants.PuzzlesNav</a></li>
                    <li><a class="btn btn-primary dropdown-item text-white" asp-area="" asp-controller="Videos" asp-action="All">@GlobalConstants.VideosNav</a></li>
                    <li class="dropstart text-white">
                        <a class="btn btn-primary dropdown-item dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">@GlobalConstants.Publish</a>
                        <ul id="publishSubmenu" class="submenu dropdown-menu background-dragon-red border text-center">
                            <li><a class="btn btn-primary dropdown-item text-white" asp-area="" asp-controller="Announcements" asp-action="Create">@GlobalConstants.CreateAnnouncementNav</a></li>
                            <li><a class="btn btn-primary dropdown-item text-white" asp-area="" asp-controller="Videos" asp-action="Create">@GlobalConstants.CreateVideoLessonNav</a></li>
                            <li><a class="btn btn-primary dropdown-item text-white" asp-area="" asp-controller="Puzzles" asp-action="Create">@GlobalConstants.CreatePuzzleNav</a></li>
                        </ul>
                    </li>
                </ul>
            }
            else if (this.User.IsInRole(GlobalConstants.TrainerRoleName))
            {
                <button class="btn btn-primary nav-link dropdown-toggle text-white" id="nav-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">@GlobalConstants.TrainerRoleName</button>
                <ul class="dropdown-menu background-dragon-red">
                    <li><a class="btn btn-primary dropdown-item text-white" asp-area="" asp-controller="Users" asp-action="ShowUsers">@GlobalConstants.RegisteredUsers</a></li>
                    <li><a class="btn btn-primary dropdown-item text-white" asp-area="" asp-controller="Groups" asp-action="ShowGroups">@GlobalConstants.GroupsNav</a></li>
                    <li><a class="btn btn-primary dropdown-item text-white" asp-area="" asp-controller="Lessons" asp-action="ShowLessons">@GlobalConstants.ConductedLessons</a></li>
                    <li><a class="btn btn-primary dropdown-item text-white" asp-area="" asp-controller="Videos" asp-action="All">@GlobalConstants.VideosNav</a></li>
                    <li><a class="btn btn-primary dropdown-item text-white" asp-area="" asp-controller="Puzzles" asp-action="All">@GlobalConstants.PuzzlesNav</a></li>
                    <li class="dropstart text-white">
                        <a class="btn btn-primary dropdown-item dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">@GlobalConstants.Publish</a>
                        <ul class="submenu dropdown-menu background-dragon-red">
                            <li><a class="btn btn-primary dropdown-item text-white" asp-area="" asp-controller="Videos" asp-action="Create">@GlobalConstants.CreateVideoLessonNav</a></li>
                            <li><a class="btn btn-primary dropdown-item text-white" asp-area="" asp-controller="Puzzles" asp-action="Create">@GlobalConstants.CreatePuzzleNav</a></li>
                        </ul>
                    </li>
                </ul>
            }
            else
            {
                <button class="btn btn-primary nav-link dropdown-toggle text-white" id="nav-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">@GlobalConstants.MemberRoleName</button>               
                <ul class="dropdown-menu background-dragon-red">
                    <li><a class="btn btn-primary dropdown-item text-white" asp-area="" asp-controller="Videos" asp-action="All">@GlobalConstants.VideosNav</a></li>
                    <li><a class="btn btn-primary dropdown-item text-white" asp-area="" asp-controller="Puzzles" asp-action="All">@GlobalConstants.PuzzlesNav</a></li>
                </ul>
            }
        </li>

        <li class="nav-item">
            <a class="nav-link btn btn-primary text-white mx-1" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@GlobalConstants.Profile</a>
        </li>

        <li class="nav-item text-center justify-content-center">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                <a role="button" id="exitBtn" class="nav-link btn btn-primary text-white" onclick="this.parentNode.submit()">@GlobalConstants.Exit</a>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link btn btn-primary text-white" asp-area="Identity" asp-page="/Account/Register">@GlobalConstants.RegistrationNav</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-primary text-white" asp-area="Identity" asp-page="/Account/Login">@GlobalConstants.LoginNav</a>
        </li>
    }
</ul>
