@model ChessBurgas64.Web.ViewModels.NotableMembers.NotableMembersListViewModel
@using ChessBurgas64.Common
@using ChessBurgas64.Data.Models.Enums
@{
    this.ViewData["Title"] = GlobalConstants.NotableMembers;
}

<partial name="_PageHeaderContainerPartial" />

<div class="container-xxl">
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <div class="text-center my-5">
            <a asp-action="Create" class="btn btn-primary"> @GlobalConstants.Add</a>
        </div>
        <hr class="text-white"/>
    }
    @foreach (var notableMember in this.Model.NotableMembers)
    {
        <div class="row wow fadeInUp my-5" data-wow-delay="0.1s">
            <div class="col-md-4 justify-content-center text-center">
                <img class="image-notableMember img-fluid rounded-circle border border-5 border-secondary" src="@notableMember.ImageImageUrl" alt="">
                <h4 class="fw-bold text-center text-white my-3">@(notableMember.FideTitle != FideTitle.Няма.ToString() ? notableMember.FideTitle : String.Empty) @notableMember.Name</h4>
    
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <form method="post" class="text-center my-2" asp-action="Delete" id="deleteForm_@notableMember.Id" asp-route-id="@notableMember.Id">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@notableMember.Id">@GlobalConstants.Edit</a>
                        <button class="btn btn-danger" type="button" id="delete_@notableMember.Id" data-bs-toggle="modal" data-bs-target="#deleteModal_@notableMember.Id">@GlobalConstants.Delete</button>
                    </form>
                    <partial name="_DeleteModalPartial" model="@notableMember" />
                }
            </div>
            <div class="container-fluid col-md-8 text-justify text-white">
                <p>@Html.Raw(notableMember.Description)</p>
            </div>
            <hr class="text-white"/>
        </div>
    }
</div>