@model ChessBurgas64.Web.ViewModels.Lessons.LessonViewModel
@using ChessBurgas64.Common

@{
    this.ViewData["Title"] = GlobalConstants.Lesson;
}

<div class="container-fluid background-dragon-red border border-3 border-white pt-2 mb-5">
    <h3 class="display-6 text-white text-center">@this.ViewData["Title"]</h3>
</div>

<div class="row container-fluid">
    <!-- Group data info start -->
    <div class="col-md-8 offset-2 text-center">
        <h4 class="display-6 text-white text-center">@Model.Topic</h4>
        <hr class="border border-5 border-white text-white" />

        <div class="bg-white border border-danger border-5 pt-2 text-left px-3 text-left">
            <p>@GlobalConstants.DateAndTime: <i class="fa-solid fa-calendar-day"></i> @Model.StartingTime.ToString("dd.MM.yyyy, H:mm")</p>
            <hr class="text-dark" />
            <p>@GlobalConstants.TrainerRoleName: <i class="fa-solid fa-user-vneck"></i> @Model.Group.Trainer.User.FirstName @Model.Group.Trainer.User.LastName</p>
            <hr class="text-dark" />
            <p>@GlobalConstants.Group: <i class="fa-solid fa-users"></i> @Model.Group.Name</p>
            <hr class="text-dark" />
            <p>@GlobalConstants.AttendedStudents: <i class="fa-solid fa-user"></i> @Model.Members.Count</p>
            <hr class="text-dark" />
            @if (Model.Notes != null)
            {
                <p>@GlobalConstants.AdditionalNotes: <i class="fa-solid fa-memo"></i> @Model.Notes</p>
                <hr class="text-dark" />
            }

            <div class="text-center my-2">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">@GlobalConstants.Edit</a>
            </div>
        </div>

        <h6 class="display-6 text-white text-center mt-5">@GlobalConstants.AttendedStudents</h6>
        <hr class="border border-5 border-white text-white" />

        <div class="bg-white border border-danger border-5 pt-2 text-center px-3">
            @if (Model.Members.Count > 0)
            {
                foreach (var member in Model.Members)
                {
                    <p><i class="fa-solid fa-user"></i> @member.Member.UserFirstName @member.Member.UserMiddleName @member.Member.UserLastName (@member.Member.ClubRating)</p>
                }
            }
            else
            {
                <p>@GlobalConstants.NoMarkedAttendances</p>
            }

            <div class="text-center my-2">
                <a class="btn btn-primary" asp-action="EditAttendants" asp-route-id="@Model.Id">@GlobalConstants.Edit</a>
            </div>
        </div>
    </div>
</div>