@model ChessBurgas64.Web.ViewModels.Lessons.LessonInputModel
@using ChessBurgas64.Common
@{
    ViewData["Title"] = GlobalConstants.EditConductedLessonData;
}

<h1 class="display-5 text-white text-center animated slideInDown">@this.ViewData["Title"]</h1>
<hr class="border border-5 border-white text-white" />

<form method="post" enctype="multipart/form-data" class="mt-5">
    <div asp-validation-summary="All" class="text-danger"></div>
    <vc:groups title="GroupId" class="my-5"></vc:groups>
    <vc:trainers title="TrainerId" class="my-5"></vc:trainers>
    <div class="form-group my-5">
        <label class="text-white" asp-for="@Model.Topic">@GlobalConstants.Topic</label>
        <input asp-for="@Model.Topic" class="form-control" />
        <span asp-validation-for="@Model.Topic" class="text-danger"></span>
    </div>
    <div class="form-group my-5">
        <label class="text-white" asp-for="@Model.StartingTime">@GlobalConstants.DateAndTime</label>
        <input asp-for="@Model.StartingTime" class="form-control" />
        <span asp-validation-for="@Model.StartingTime" class="text-danger"></span>
    </div>
    <div class="form-group my-2">
        <label class="text-white" asp-for="@Model.Notes">@GlobalConstants.AdditionalNotes</label>
        <textarea asp-for="@Model.Notes" class="form-control" rows="@GlobalConstants.NotesTextAreaRowCount"></textarea>
        <span asp-validation-for="@Model.Notes" class="text-danger"></span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn-primary">@GlobalConstants.Refresh</button>
    </div>
</form>