@model ChessBurgas64.Web.ViewModels.GroupMembers.GroupMemberCheckboxModel
@using ChessBurgas64.Common

@{
    this.ViewData["Title"] = GlobalConstants.AttendedStudents;
}

<div class="row container-fluid text-center">
    <h4 class="display-6 text-white">@this.ViewData["Title"]</h4>
    <hr class="border border-5 border-white text-white col-6 offset-3 mb-5" />
    <form method="post" enctype="multipart/form-data">
        @for (int i = 0; i < Model.GroupMembers.Count; i++)
        {
            <div class="col-6 my-2 offset-3 text-start">
                <label class="checkboxLabel text-white px-5" asp-for="@Model.GroupMembers[i].Selected"> 
                    <input type="checkbox" asp-for="@Model.GroupMembers[i].Selected" />
                    <input type="hidden" asp-for="@Model.GroupMembers[i].MemberId" />
                    <input type="hidden" asp-for="@Model.GroupMembers[i].Member.FullName" />
                    <span class="checkmark"></span>
                    @Model.GroupMembers[i].Member.FullName
                </label>
                <hr class="border border-white"/>
            </div>
        }
        <button type="submit" class="btn btn-primary my-3">@GlobalConstants.Save</button>
    </form>
</div>

