@model ChessBurgas64.Web.ViewModels.Trainers.TrainersListViewModel
@using ChessBurgas64.Common
@using ChessBurgas64.Data.Models.Enums
@{
    this.ViewData["Title"] = GlobalConstants.ManagementNav;
}

<div class="container page-header backround-header-image-container"></div>
<div class="title-container border border-3 border-white mb-3">
    <h1 class="display-5 text-white text-center animated slideInDown">@this.ViewData["Title"]</h1>
</div>

<div class="container-xxl">
    <div class="container">
        <div class="row g-4">
            @foreach (var trainer in this.Model.Trainers)
            {
                <div class="card-deck col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="card border border-5 border-white">
                        <img class="image-trainer-card img-fluid" src="@trainer.ImageImageUrl" alt="">
                        <div class="card-body text-center">
                            <h4 class="card-title text-center">@(trainer.User.FideTitle != FideTitle.Няма.ToString() ? trainer.User.FideTitle : String.Empty) @trainer.User.FirstName @trainer.User.LastName</h4>
                            <hr />
                            <small><i class="fa-solid fa-user-tie"></i> @trainer.User.ClubStatus</small>
                        </div>
                        <a class="btn btn-primary" asp-action="ById" asp-route-id="@trainer.User.Id">@GlobalConstants.Profile</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
