@using ChessBurgas64.Common
@model ChessBurgas64.Web.ViewModels.Trainers.TrainerViewModel
@{
    this.ViewData["Title"] = Model.TrainerName;
}

<div class="row">
    <div class="col-md-4 my-3">
        <img class="img-fluid image-trainer my-3" src="@Model.ImageImageUrl" alt="@GlobalConstants.Photos">
        <div class="container-fluid bg-dark text-white py-3 border border-2 border-secondary">
            <p><i class="fa-solid fa-cake-candles"></i> @Model.User.BirthDate.ToShortDateString()</p>
            <hr />
            <p> <i class="fa-solid fa-phone"></i> @Model.User.PhoneNumber</p>
            <hr />
            <p><i class="fa-solid fa-envelope"></i> @Model.User.Email</p>
        </div>
    </div>
    <div class="col-md-8 my-3">
        <p class="text-justify">
            @Html.Raw(Model.UserDescription);
        </p>
    </div>
    <h3 class="text-white text-center title-container">@Model.TrainerName</h3>
    <hr class="border border-white border-3" />

    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <div class="container-fluid text-white text-center my-2">
            <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
            </form>
            <a class="btn btn-warning" asp-controller="Users" asp-action="EditTrainerInfo" asp-route-id="@Model.User.Id">@GlobalConstants.Refresh</a>
            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">@GlobalConstants.Delete</button>
        </div>
    }

    <partial name="_DeleteModalPartial" />
</div>
