@page
@using ChessBurgas64.Common
@model MySchedule
@{
    ViewData["ActivePage"] = ManageNavPages.MySchedule;
}

<link href="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.css" rel="stylesheet" />

<div class="container-fluid">
    <h4 class="display-6 text-white text-center mt-3">@GlobalConstants.TrainingSchedule</h4>
    <hr class="border border-5 border-white text-white" />
    <div class="text-white py-2 container-fluid" style="width:100%; margin:0 auto;">
        <table id="myGroupsTable" class="bg-dark table-bordered table-responsive text-white compact border border-3 text-center" width="100%" cellspacing="0">
            <thead class="dt-head-center">
                <tr>
                    <th class="dt-head-center">@GlobalConstants.Id</th>
                    <th class="dt-head-center">@GlobalConstants.Group</th>
                    <th class="dt-head-center">@GlobalConstants.StudentsCount</th>
                    <th class="dt-head-center">@GlobalConstants.TrainingDay</th>
                    <th class="dt-head-center">@GlobalConstants.TrainingHour</th>
                    <th class="dt-head-center">@GlobalConstants.TrainerRoleName</th>
                    <th class="dt-head-center">@GlobalConstants.LowestRating</th>
                    <th class="dt-head-center">@GlobalConstants.HighestRating</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@Html.AntiForgeryToken()

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src=" //cdn.datatables.net/plug-ins/1.10.11/sorting/datetime-moment.js"></script>
    <script src="~/js/myGroupsTable.js"></script>
}
