@page
@using ChessBurgas64.Common
@using ChessBurgas64.Data.Models.Enums
@model PersonalData
@{
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="container-fluid">
    <form id="profile-form" method="post" class="text-white">
        <div asp-validation-summary="ModelOnly" class="text-warning"></div>

        <div class="row">
            <div class="col-md-6 pl-5">
                <div class="form-group my-3">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="Input.MiddleName"></label>
                    <input asp-for="Input.MiddleName" class="form-control" />
                    <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="Input.BirthDate"></label>
                    <input asp-for="Input.BirthDate" class="form-control" />
                    <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                </div>
                @Html.DisplayNameFor(m => m.Input.Gender):
                <div class="form-check form-check-inline m-4">
                    <input class="form-check-input" type="radio" asp-for="Input.Gender" id="inlineRadio1" value="@Gender.Женски.ToString()">
                    <label class="form-check-label" asp-for="Input.Gender">@Gender.Женски.ToString()</label>
                </div>
                <div class="form-check form-check-inline m-4">
                    <input class="form-check-input" type="radio" asp-for="Input.Gender" id="inlineRadio1" value="@Gender.Мъжки.ToString()">
                    <label class="form-check-label" asp-for="Input.Gender">@Gender.Мъжки.ToString()</label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group my-3">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>

                @if (Model.Input.Member != null)
                {
                    <div class="form-group mb-3">
                        <label asp-for="Input.Address"></label>
                        <input asp-for="Input.Address" class="form-control" />
                        <span asp-validation-for="Input.Address" class="text-warning"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Input.School"></label>
                        <input asp-for="Input.School" class="form-control" />
                        <span asp-validation-for="Input.School" class="text-warning"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.DateOfJoiningTheClub"></label>
                        <input asp-for="Input.DateOfJoiningTheClub" class="form-control" />
                        <span asp-validation-for="Input.DateOfJoiningTheClub" class="text-warning"></span>
                    </div>
                }

            </div>
        </div>
        <hr />
        <div class="text-center">
            <button id="update-profile-button" type="submit" class="btn btn-primary">@GlobalConstants.Save</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}